@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header start */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #12372a;
  font-family: Poppins;
  position: fixed;
}

header .label {
  text-transform: capitalize;
  font-weight: 600;
  color: white;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}
/* header end */

/* hamburger menu start */

.hamburger-menu {
  display: none;
}

.hamburger-menu button {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hamburger-menu button span {
  width: 30px;
  height: 0.8px;

  display: block;
  background-color: white;

  transition: all 0.5s ease-in-out;
}
/* class tambahan hamburger start */
.hamburgerA {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburgerB {
  opacity: 0;
}

.hamburgerC {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* class tambahan hamburger end */
/* hamburger menu end */

/* navbar mobile phone start */
.navbar-phone {
  width: 150px;
  height: 25vh;
  visibility: hidden;
  opacity: 0;

  background-color: #e3e1d9;
  position: absolute;

  right: 10px;
  top: 40px;
  border: 1px solid #12372a;
  border-radius: 4px;

  transition: visibility 0.9s, opacity 0.3s;
}

.screen-navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-phone ul {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  list-style-type: none;
  font-weight: 600;
}

.navbar-phone ul li a {
  color: #12372a;
  text-decoration: none;
}
/* navbar mobile phone end */

/* main section start */
main {
  width: 100%;
  height: 100vh;
}
main .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
main .container .container-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main .container .container-1 p {
  text-align: center;
}

main .container .container-1 p span {
  color: red;
}

/* main section end */

/* media query handphone */
@media screen and (max-width: 480px) {
  header {
    height: 7vh;
  }
  header .label {
    font-size: 13px;
  }

  header nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  main .container .container-1 {
    width: 80%;
  }
}
